<style>
	.imgSize{
		max-width: 100%;
	}

	.font {
		font-family: Impact, Charcoal, sans-serif;
		font-size: 2.5vw;
	}

	.font2 {
		font-family: Comic Sans MS, cursive, sans-serif;
		font-size: 1vw;
	}

	.font3 {
		font-family: Comic Sans MS, cursive, sans-serif;
		font-size: 0.7vw;
	}

	.center {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 80%;
	    height: 80%;
	}

	.center2{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 50%;
	    height: 50%;
	}

	.center3{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 40%;
	    height: 40%;
	}

</style>

<div style="margin-top: 10vw">
	<div class="center2">
		<p class="font center2">Vanguardia Educativa</p>
		<p class="font2" style="width: 100%">
			<br>
			El modelo educativo Tec 21 tiene cuatro pilares principales. Generar aprendizajes basados en retos, permitir la flexibilidad en el aprendizaje, buscar profesores inspiradores y ofrecer vivencias memorables.
			<br>
			<br>
		Bajo este modelo Mostla promueve la difusión de tendencias tecnológicas educativas a las diferentes disciplinas mediante una interacción con dispositivos, eventos focalizados y la creación de redes de colaboración.</p>
	</div>
</div>

<div class="row" style="padding-top: 5vw;">
	<div class="center">
			<img src="assets/tecLogo.png" alt="" class="responsive-img" style=" max-width: 50%">
			</div>
		<div class="center font fontSize1">
</div>

<div style="padding-top: 13vw;">

</div>


<div style="background-color:#F0F8FF; padding-top:5vw; padding-bottom: 5vw">
	<div class="center">
			<h3 class="font">Nuestro Equipo</h3>
			<p class="font2" style="width: 100%">Somos un equipo que busca el uso de tecnologías emergentes para la educación, dentro del Tecnológico de Monterrey.</p>
	</div>

	<div class="center" style="padding-top: 3vw">
			<img src="assets/p1.png" alt="" class="circle responsive-img" style=" max-width: 13%">
			<p class="font2 blue-text text-darken-2">Irving Hidrogo</p>
			<p class="font3 center2" style="width: 30%">
				Director de Proyecto de Innovación con Tecnología Educativa
			</p>
			<p class="font3 center3" style="width: 30%">
				<i class="material-icons indigo-text text darken-7" style="vertical-align: top;">mail</i>
				irving@tec.mx
			</p>
		</div>

	<div class="row center" style="padding-top: 1vw">
		<div class="col s12 m6 center">
			<img src="assets/p2.png" alt="" class="circle responsive-img" style=" max-width: 25%">
			<p class="font2 blue-text text-darken-2">Carlos Hernández</p>
			<p class="font3 center2" style="width: 50%">
				Coordinador de Mostla
			</p>
			<p class="font3 center3" style="width: 30%">
				<i class="material-icons indigo-text text darken-7" style="vertical-align: top;">mail</i>
				carloshn@itesm.mx
			</p>
		</div>
		<div class="col s12 m6 center">
			<img src="assets/p3.png" alt="" class="circle responsive-img" style=" max-width: 25%">
			<p class="font2 blue-text text-darken-2">Javier Giese</p>
			<p class="font3 center2" style="width: 50%">
				Líder de Proyecto de innovación con Tecnología Educativa
			</p>
			<p class="font3 center3" style="width: 30%">
				<i class="material-icons indigo-text text darken-7" style="vertical-align: top;">mail</i>
				giese@itesm.mx
			</p>
		</div>
		<div class="col s12 m6 center">
			<img src="assets/p4.png" alt="" class="circle responsive-img" style=" max-width: 25%">
			<p class="font2 blue-text text-darken-2">Jorge González</p>
			<p class="font3 center2" style="width: 50%">
				Líder de Proyecto de Innovación con Tecnología Educativa
			</p>
			<p class="font3 center3" style="width: 30%">
				<i class="material-icons indigo-text text darken-7" style="vertical-align: top;">mail</i>
				gonzalez.jorge@itesm.mx
			</p>
		</div>
		<div class="col s12 m6 center">
			<img src="assets/p5.png" alt="" class="circle responsive-img" style=" max-width: 25%">
			<p class="font2 blue-text text-darken-2">Andrés Fanduiz</p>
			<p class="font3 center2" style="width: 50%">
				Líder de Proyecto de Innovación con Tecnología Educativa
			</p>
			<p class="font3 center3" style="width: 30%">
				<i class="material-icons indigo-text text darken-7" style="vertical-align: top;">mail</i>
				andres.fand@itesm.mx
			</p>
		</div>
	</div>
</div>

<div style="padding-top: 15vw">
	<h3 class="indigo-text text darken-4 font center">Más...</h3>
</div>


<div style="margin-top: 5vw; padding-bottom: 5vw">
   <img src="assets/1.jpg" alt="" class="responsive-img imgSize">
   <img src="assets/2.jpg" alt="" class="responsive-img imgSize">
   <img src="assets/3.jpg" alt="" class="responsive-img imgSize">
</div>




<div style="background-color:#F0F8FF;">
	<div class="center3" style="padding-top:3vw; padding-bottom: 5vw; align-content: center;">
		<div>
			<img src="assets/tecLogo.png" alt="" class="center2 responsive-img">
			<p class="font2 center" style="width: 100%">En Mostla, tanto estudiantes como docentes pueden acercarse a las ten­dencias tecnológicas que actualmente cam­bian al mundo en áreas como realidad virtual, inteligencia artificial, internet de las cosas, entre otras, y pensar cómo implementarlas en clase o un proyecto especial.
			</p>
		</div>
	</div>
</div>
