
<br>
<footer class="page-footer" style= "background-color: #F0F8FF; color: black;
font-size: 15px;">
  	<div class="container center-align">

			<img src="/assets/tecLogo.png" alt="" style="height:130px;">

  	</div>
  	<div class="footer-copyright">
	    <div class="container fontFooter center-align" style= "color: black;
			font-size: 15px;">
	    	© 2018 Copyright Text
	    </div>
	</div>
</footer>
